.contact__page__color{
  border: 1px solid rgb(36, 107, 124);
  width: 250px;
  height: 50px;
  border-radius: 50px;
}

.contact__page__color:hover{
  border: 1px solid rgb(15, 148, 201);
  color: #ffff;
  border-radius: 50px;
  position: relative;
}
  .text-color a{
    color: #b4abab !important;
  }

.text-color:hover a{
  color: #ffff !important;
}








 @media only screen and (max-width: 600px) {
  
    .contact__page__color{
      border: 1px solid rgb(85, 157, 167);
       width: 100%;
       padding: 10px;
      border-radius: 50px;
    }
    
   
   
  
  
  .text-footer p{
      text-align: center;
      left:0;
      right: 0;
      position: absolute;
     
  }
}


@media only screen and (min-width: 600px) {
  .text-footer{
   
    border: 1px solid rgb(197, 12, 114);
    width: 100%;
    padding: 10px;
    border-radius: 50px;
    position: relative;
  
   
  }
  .text-footer:hover{
      border: 1px solid rgb(15, 148, 201);
      margin: 10px;
      color: #ffff;
      border-radius: 50px;
      position: relative;
    
     
    }
  .text-footer p{
      text-align: center;
      padding: 10px;
      position: absolute;
     
  }
}


@media only screen and (min-width: 768px) {
  .text-footer{
    border: 1px solid rgb(197, 12, 114);
    width: 100%;
    padding: 10px;
    border-radius: 50px;
    position: relative;
 
   
  }
  .text-footer:hover{
      border: 1px solid rgb(15, 148, 201);
    
      color: #ffff;
      border-radius: 50px;
      position: relative;
    
     
    }
  .text-footer p{
      text-align: center;
      position: absolute;
     
  }
}

