
.navbar {
    background-color: transparent;
    position: fixed;
    top:0;
    z-index: 1;
   
    
}
 
.navbar.colorChange {
    background: linear-gradient(
    157.81deg,
    #232c2c -43.27%,
    #35a3a7 -21.24%,
    #3b6869 12.19%,
    #182b2c 29.82%,
    #5ce1e6 51.94%,
    #050e0f 90.29%
  );
}