@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,800;1,100;1,200;1,300;1,400;1,500&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;
  --font-family: 'Poppins', sans-serif;
  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}


:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.banner__text___color {
  color: linear-gradient(
    157.81deg,
    #2f4041 -43.27%,
    #1f6a6c -21.24%,
    #02595c 12.19%,
    #287577 29.82%,
    #07a0a5 51.94%,
    #263639 90.29%
  );
}


.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-blue-gradient-footer {
  background: linear-gradient(
    157.81deg,
    #2f4041 -43.27%,
    #1f6a6c -21.24%,
    #02595c 12.19%,
    #287577 29.82%,
    #07a0a5 51.94%,
    #263639 90.29%
  );
}


.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

/* aboutCard design  */

.text-gradient_color{
 color: #03484b;
}
.text-gradient_color_sm{
  color: #37969b;
 }
.bg-gradient{
  background: linear-gradient(0deg,#18151500 0%, rgb(20, 20, 20) 100%);
  transition: all 1s ease-in;
}
.bg-gradient_one{
  background: linear-gradient(0deg, #18151500 0%, rgb(20, 20, 20) 100%);
  transition: all 1s ease-in;
}
.bg-gradient_there{
  background: linear-gradient(0deg, #18151500, rgb(17, 18, 19) 100%);
  transition: all 1s ease-in;
}
.bg-gradient_four{
  background: linear-gradient(0deg, #18151500 0%, rgb(20, 20, 20) 100%);
  transition: all 1s ease-in;
}

.bg-gradient:hover{
  background: linear-gradient(0deg, rgb(29, 41, 32) 0%, rgb(104, 104, 93) 100%);
  color: white !important;

}
.bg-gradient_one:hover{
  background: linear-gradient(0deg, rgb(209, 158, 206) 0%, rgb(102, 89, 86) 100%);
}
.bg-gradient_there:hover{
  background: linear-gradient(0deg, rgb(190, 215, 243) 0%, rgb(140, 153, 172) 100%);

}
.bg-gradient_four:hover{
  background: linear-gradient(0deg, rgb(68, 78, 97) 0%, rgb(91, 167, 131) 100%);
}


.btn_hero{
   width: 200px;
   border-radius: 50px;
   color: #046a77;
   background-color: #ffff;
   transition: all 1s ease-in;
 }
 .btn_hero:hover{
  background-color: #900cdd;
  color: rgb(255, 255, 255);
  
}


.about__hero__btn{
  width: 200px;
  display: block;
  margin: auto;
  height: 50px;
  border-radius: 50px;
  color: #046a77;
  background-color: #ffff;
  transition: all 1s ease-in;
}
.about__hero__btn:hover{
 background-color: #024e58;
 color: rgb(255, 255, 255);
 
}


.text__icon{
 
  color: #fcfcfc;
  transition: all 1s ease-in;
}
.text__icon:hover{
color: rgb(2, 204, 204);
 
}

/* doctor Blog design  */

.bg-gradient_blog{
  background: linear-gradient(0deg, rgb(250, 229, 248) 0%, rgb(240, 223, 219) 100%);
  border-radius: 20px;
  
}







